.container {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.textField {
    padding: 10px;
    margin: 0 10px;
    width: 300px;
}

.searchButton {
    color: white;
    background-color: #FDB755;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.searchButton:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}